<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NJU-SICP - Home</title>
</head>

<body>
  <div>
    <h1>NJU-SICP - Grader</h1>
  </div>
  <div>
    <ul>
      {% for assignment in assignments %}
      <li>
        <a href="{{ url_for('assignment.status', aname=assignment.aname) }}">{{ assignment.aname }}</a> :
        {{ assignment.ddl }}
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>